

.login-container{
	background: url('@/static/img/login-bg.png') center center;
	background-size: 100% 100%;
	height: 100vh;
	.login-box{
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding-left: 26px;
		padding-right: 26px;
		box-sizing: border-box;
		.app-name{
			display: block;
			font-size: 30px;
			font-weight: 700;
			line-height: 41px;
			letter-spacing: 0px;
			margin-bottom: 68rpx;

		}

		.btn {
			background: #86784B;
			margin: 50rpx auto 25rpx auto;
			border-radius: 8rpx;;
		}
		.u-input{
			height: 55rpx;
		}
	}
	.option{
		font-family: PingFang HK;
		font-size: 14rpx;
		font-weight: 500;
		line-height: 20rpx;
		letter-spacing: 0px;
		text-align: center;
		color: #333333;
	}
	.send-code{
		display: block;
		color: #86784B;
		font-family: Inter;
		font-size: 24rpx;
		margin-right: 20rpx;
	}
}