.login-img {
	width: 100%;
	height: 50vh;
	top: 0;
	left: 0;
	z-index: 10;
}

.info {
	/* #ifdef APP-PLUS */
	top: 200rpx;
	/* #endif */
	/* #ifdef H5 */
	top: 150rpx;
	/* #endif */
	left: 0;
	padding: 0 30rpx;
	box-sizing: border-box;
	color: #fff;
	z-index: 11;
}

.app-name {
	font-size: 55rpx;
	font-weight: 300;
	/* #ifdef H5 */
	margin-bottom: 15rpx;
	/* #endif */
}

.mechanism {
	font-size: 60rpx;
	font-weight: 600;
	line-height: 60rpx;
	margin-bottom: 15rpx;
}

.login-icon {
	width: 30rpx;
	height: 30rpx;
	margin-right: 5rpx;
}

.login-box {
	/* #ifdef APP-PLUS */
	top: 450rpx;
	/* #endif */
	/* #ifdef H5 */
	top: 400rpx;
	/* #endif */
	left: 0;
	width: 100vw;
	padding: 0 30rpx;
	box-sizing: border-box;
	z-index: 99;
}

.login-from {
	width: 100%;
	min-height: 50vh;
	border-radius: 20rpx;
	padding: 60rpx;
	box-sizing: border-box;
}

.title {
	text-align: center;
	line-height: 80rpx;
	font-size: 50rpx;
}

.form-item {
	margin: 40rpx 0;
}

.btn {
	width: 70vw;
	background: #24abcc;
	margin: 100rpx auto 50rpx auto;
}
