.header-box {
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 99;
	// background-color: #edf7f9;
	/* #ifdef APP-PLUS */
	height: 260rpx;
	/* #endif */
	/* #ifdef H5 */
	height: 210rpx;
	/* #endif */
}

.header-ban {
	top: 0;
	left: 0;
	z-index: 9;
}

.box-r {
	padding: 20rpx 20rpx;
	box-sizing: border-box;
	// border-bottom: 4rpx solid #e3f1f4;
}

.top-r {
	border-top-left-radius: 20rpx;
	border-top-right-radius: 20rpx;
}

.bottom-r {
	border-bottom-left-radius: 20rpx;
	border-bottom-right-radius: 20rpx;
}

.project-main {
	width: 100vw;
	padding: 0 30rpx;
	box-sizing: border-box;
}

.project-box {
	width: 100%;
	padding-bottom: 30rpx;
}
